

#aMain{
	padding-left: 8%;
    padding-right: 2%; 
	
}

#titleMain{
	font-size: 1.8em;
}

#theadMain{
  background-color: #eef2e3;
}

#theadSec{
  background-color: #dbecea;
}

#h6-mayor{
	padding-top: 3px; 
}


#table1{
	border-collapse: separate;
	padding: 20px;
}

#table2{
	border-collapse: separate;
	padding: 20px;
    display: none;
}

#tbody1 td{
	font-size: 0.95em;
}

.weekend{
	color: #9f1717;
}

li {
    list-style-type: none;
   }
.dropdownCong{
    margin-left: 2px; /* Отступ слева в браузере IE и Opera */
    padding-left: 2px; /* Отступ слева в браузере Firefox, Safari, Chrome */
    font-size: 0.8em;
   }

#public-list{
	font-size: 0.9em;
}

#june{
	color: #7c3030;
}

#may{
	color: #3b1796;
}
.weekend1{
	background-color: #fbf9f7;
}
#tHead1{
	color: white;
}

@media screen and (max-width: 992px){
	#tbody1 td{
		font-size: 70%;
	}
}

@media screen and (max-width: 846px){
	#tbody1 td{
		font-size: 68%;
	}
}

@media screen and (max-width: 818px){
	#tbody1 td{
		font-size: 65%;
	}
}


@media screen and (max-width: 786px){
	#tbody1 td{
		font-size: 63%;
	}
	
}

@media screen and (max-width: 768px){

	#table1 {
		display: none;
	}
    #table2 {
		display: block;
		column-width: 120%;
	
	}
}

@media screen and (max-width: 525px){
	#table1 {
		display: none;
	}
    #table2 {
		display: block;
	}
	#tbody2 td{
		font-size: 80%;
	}
}


@media screen and (max-width: 462px){
	#table1 {
		display: none;
	}
    #table2 {
		display: block;

	}
	#tbody2 td{
		font-size: 70%;
	}
}

@media screen and (max-width: 434px){
	#table1 {
		display: none;
	}
    #table2 {
		display: block;
	}
	#tbody2 td{
		font-size: 60%;
	}
}

@media screen and (max-width: 406px){
	#table1 {
		display: none;
	}
    #table2 {
		display: block;
		border: white;

	}
	#tbody2 td{
		font-size: 50%;
	}
}

@media screen and (max-width: 379px){
	#table1 {
		display: none;
	}
    #table2 {
		display: block;
		border: white;
		
	}
	#tbody2 td{
		font-size: 35%;
	}
}

@media screen and (max-width: 339px){
	#table1 {
		display: none;
	}
    #table2 {
		display: block;
		padding: 0;
		border-collapse: collapse;
		border: white;
		
	}
	#tbody2 td{
		font-size: 30%;
	}
}

